@import "tailwindcss";

.card{
  background-color: black;
  color: white;
}

.d-flex{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.todolist{
  @apply bg-red-100 min-h-150 text-center pt-20 text-3xl
}